.text-left
{
    text-align: left !important;
}

.icon-button-md
{
    min-width: 50px;
}

.profile-pic
{
    width: 80px;
    height: 80px;
    border: #D9686B solid;
}

.top-right
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}