body
{
    font-family: Cursive, serif !important;
}

.text-left
{
    text-align: left !important;
}

.icon-button-md
{
    min-width: 50px;
}

.profile-pic
{
    width: 80px;
    height: 80px;
    border: #60D8F9 solid;
}

.top-right
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}